__pycache__
.vscode
*-results
results
.ipynb_checkpoints

# Loss data
*loss.csv
*reward.csv

# Sega playback files
*.bk2
*.mp4

# Tensorflow checkpoints
checkpoints
checkpoints-scratch

# Training data
*.npz

# Sega roms
roms

# pip artifact
src

# Config
*.yaml