numpy==1.14.3
# Downgrade Tensorflow to avoid illegal instruction error when ReadTheDocs imports it
tensorflow==2.5.0
PyYAML==3.12
gym==0.10.5
gym-retro==0.5.4
Sphinx==1.7.5
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.0